	body {
		font-family: Helvetica,sans-serif;
	}
	.controls {
		border-bottom: solid 1px black;
		padding: 1em 5%;
	}
		svg {
			border: solid 1px black;
			margin: 1em 5%;
		}
		.normal-circle {
			fill: lightblue;
			stroke: purple;
			-webkit-transform: scale(1);
			-webkit-transform-origin: 50% 50%;
			transform: scale(1);
			transform-origin: 50% 50%;
		}
		.pulse {
			/*fill: red;*/
			-webkit-animation-name: pulsar;
			-webkit-animation-duration: 0.2s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-direction: alternate;
			animation-name: pulsar;
			animation-duration: 0.2s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}

		@-webkit-keyframes pulsar {
			from {
				fill: red;
			}
			to {
				fill: red;
				-webkit-transform: scale(1.3);
				-webkit-transform-origin: 50% 50%;
			}
		}
		@keyframes pulsar {
			from {
				fill: red;
			}
			to {
				fill: red;
				transform: scale(1.3);
				transform-origin: 50% 50%;
			}
		}
